/* Desktop */
@media (min-width:768px){ 

    body {
        width: 100%;
        /* margin: auto; */
    }


    #container {
        width: 100%;
        margin: auto;
        position: absolute;
        left:200px;

    }
#header-div { 
    width: 960px;
    height: 100px;
    text-align: center;
    line-height: 75px;
}

#mainb-div {
    width: 200px;
    height: 600px;
    text-align: center;
    line-height: 600px;
}

#mainc-div {
    width: 380px;
    height: 200px;
    
    text-align: center;
    line-height: 200px;
    position: absolute;
    left: 200px;
    top: 100px;
}
#maind-div {
    width: 380px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    position: absolute;
    left: 580px;
    top: 100px;
}

#maine-div {
    width: 190px;
    height: 250px;
    text-align: center;
    line-height: 250px;  
    position: absolute;
    left: 390px;
    top: 300px;    
}
#mainf-div {
    width: 190px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    position: absolute;
    left: 200px;
    top: 300px;  
}
#maing-div {
    width: 190px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    position: absolute;
    left: 770px;
    top: 300px;    
}
#mainh-div {
    width: 190px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    position: absolute;
    left: 580px;
    top: 300px;    
}
#maini-div {
    width: 760px;
    height: 150px;
    text-align: center;
    line-height: 150px;  
    position: absolute;
    left: 200px;
    top: 550px;  
}
}

/* Mobile */

 @media (max-width:767px) {

    body {
        width: 480px;
    }

     #container {
        width: 480px;
        height: 1055px;
        /* border: 1px solid rgb(5, 5, 5) ; */
        margin: auto;
    }
    #header-div { 
        width: 480px;
        height: 75px;
        text-align: center;
        line-height: 75px;
    }
    
    #mainb-div {
        width: 480px;
        height: 150px;
        text-align: center;
        line-height: 150px;
        }
    
    #mainc-div {
        width: 480px;
        height: 125px;
        text-align: center;
        line-height: 125px;
    }
    #maind-div {
        width: 480px;
        height: 125px;
        text-align: center;
        line-height: 125px;
    }
    
    #maine-div {
        width: 240px;
        height: 250px;
        text-align: center;
        line-height: 250px;
    }
    #mainf-div {
        width: 240px;
        height: 250px;
        text-align: center;
        line-height: 250px;
    }
    #maing-div {
        width: 240px;
        height: 250px;
        text-align: center;
        line-height: 250px;
    }
    #mainh-div {
        width: 240px;
        height: 250px;
        text-align: center;
        line-height: 250px;
    }
    #maini-div {
        width: 480px;
        height: 80px;
        text-align: center;
        line-height: 80px;
    }
}  


